<template>
    <div>

        <div class="login-form">
            <h1>Login</h1>
            <input class="login-field" type="text" name="username" placeholder="email@email.com" required>
            <br>
            <input class="login-field" type="password" name="password" placeholder="Password" required>
            <br>
            Forgot Password?
            <br>
            <button class="login-but">Login</button>

            <br>
            <button class="login-but">Login with Facebook</button>
            <br>
            <button class="login-but">Login with Google Account</button>
            <br>
            Don't have an account? Sign Up
        </div>

        <div>
            <button onclick="loadBluetooth();">BLUETOOTH</button>
        </div>
    </div>
</template>